.boxTechnologies {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

    height: 90vh;
    width: 100%;
}

.boxTechnologies h3 {
    margin: 1rem 0;
}

.technologies {

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.tabelTechnologies {
    display: none;
    align-items: center;
    /* background-color: #4747475e; */
    /* #9c9c9c5e */
    /* box-shadow: 0 0 0.5rem #014e0171; */
    width: 20rem;
    height: 18vh;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.tabelTechnologies {
    font-size: 0.8rem;
}

.techIllustrated {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

.techIllustrated h4 {
    margin-bottom: 0.5rem;
}

/* TEMA */

[data-theme="dark"] .boxTechnologies {
    display: flex;
}

[data-theme="dark"] .tabelTechnologies {
    display: flex;
    background: #3f3f3f;
    color: #f3f2f2;
    box-shadow: 0 0 1rem #3f3f3f;
}

[data-theme="light"] .boxTechnologies {
    display: flex;
}

[data-theme="light"] .tabelTechnologies {
    display: flex;
    background: #f3f2f2;
    color: #292929;
    box-shadow: 0 0 0.5rem #f3f2f2;
}