.boxTechnologies {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;

    height: 100%;
    width: 100%;
}

.boxTechnologies h4 {
    margin: 1rem 0 0.5rem;
}

.technologies {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.tabelTechnologies {
    display: none;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    max-height: 8rem;
    /*mudar*/
    padding: 0 0.5rem;
    border-radius: 0.5rem;
}

.tabelTechnologies {
    font-size: 0.8rem;
}

.techIllustrated {
    display: flex;
    gap: 0.5rem;
    margin: 0 0.5rem;
    width: 100%;
    align-items: center;
}


/* TEMA */

[data-theme="dark"] .boxTechnologies {
    display: flex;
}

[data-theme="dark"] .tabelTechnologies {
    display: flex;
    background: #303030;
    color: #f3f2f2;
    box-shadow: 0 0 0.5rem #303030;
}

[data-theme="light"] .boxTechnologies {
    display: flex;
}

[data-theme="light"] .tabelTechnologies {
    display: flex;
    background: #f3f2f2;
    color: #292929;
    box-shadow: 0 0 0.5rem #f3f2f2;
}

@media (max-width: 780px) {
    .tabelTechnologies {
        width: 40vw;
    }
}


@media (max-width: 530px) {
    .tabelTechnologies {
        width: 100%;
    }
}