.headerBar {
    display: none;
    align-items: center;
    justify-content: center;
}

.backIcon svg {
    width: 100%;
    min-width: 1rem;
    max-width: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
    /* max-height: 3rem; */
    min-height: 4rem;
    width: 90%;
}

.links {
    text-decoration: none;
    padding: 0 0.5rem;
}

.links:hover {
    opacity: 0.8;
}

/* TEMA */

[data-theme="dark"] .headerBar {
    display: flex;
    box-shadow: 0 -1rem 2rem #ffffff;
}

[data-theme="dark"] .backIcon svg {
    fill: #dadada;
}

[data-theme="dark"] .links {
    color: #dadada;
}

[data-theme="light"] .headerBar {
    display: flex;
    box-shadow: 0 -1rem 2rem #000000;
}

[data-theme="light"] .backIcon svg {
    fill: #292929;
}

[data-theme="light"] .links {
    color: #292929;
}

/* Responsividade */
@media (max-width: 530px) {
    .navbar {
        font-size: 3.5vw;
        gap: 0;
    }
}

@media (max-width: 291px) {
    .navbar {
        font-size: 3vw;
        gap: 0;
    }
}