.toggleButton {
    height: 2.6rem;
    width: 2.6rem;
    border: none;
    border-radius: 10rem;

    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

.toggleButton:hover {
    /* animação */
}

.toggleButton:active {
    /* animação */
}


.image {
    width: 2rem;
    height: 2rem;
}

/* TEMA */


[data-theme="dark"] .toggleButton {
    background: #dadada;
}

[data-theme="light"] .toggleButton {
    background: #444444;

}