
.boxEnter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100vh;
}

.boxEnter h2 {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  border-left: 1px solid;
  border-right: 1px solid #01a301;
}

.firstName, .lastName {
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}

.firstName {
  color: #01a301;
}

.lastName {}

.job {
  font-weight: 400;
  margin-bottom: 2rem;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 0 10px 1px #008100;
  width: 13rem;
  height: 3rem;

  border-radius: 1rem;
  margin-top: 1rem;


  font-weight: 500;
}

.view:hover {
  background-color: #0081005b;
}

.view:active {
  background-color: #0099002f;
  color: #00a700;
}